:root {
  	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  	font-size: 16px;
  	line-height: 24px;
  	font-weight: 400;

  	color-scheme: light dark;
  	color: rgba(255, 255, 255, 0.87);
  
  	font-synthesis: none;
  	text-rendering: optimizeLegibility;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	-webkit-text-size-adjust: 100%;
}

body {
  	margin: 0;
  	display: flex;
  	place-items: center;
  	min-width: 320px;
  	min-height: 100vh;
  	background-color: #242424;
}

.invisible {
	display: none;
}

.unselectable {
	user-select: none;
}

a {
  	font-weight: 1000;
  	color: #dedede;
  	text-decoration: inherit;
	transition: 0.25s;
}


h1 {
  	font-size: 3.2em;
  	line-height: 1.1;
}

#app {
  	margin: 0 auto;
  	padding: 2rem;
  	text-align: center;
  	width: 100%;
  	display: flex;
  	justify-content: center;
}
#main-body {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
@media only screen and (max-width: 1400px) {
	#main-body {
		flex-direction: column;
	}
	#main-body > div {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
.button-container {
	width: 250px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
@media only screen and (max-width: 1400px) {
	.button-container {
		flex-direction: row;
		width: 100%;
	}
}
/* .button-container > * {
	padding: 5px;
} */

button {
	position: relative;
  	border-radius: 8px;
  	border: 3px solid rgba(255, 255, 255, 0.25);
  	padding: 0.6em 1.2em;
  	font-size: 0.9rem;
  	font-weight: 1000;
  	font-family: inherit;
  	background-color: #1a1a1a;
  	cursor: pointer;
  	transition: border-color 0.25s, color 0.5s;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}
button:hover {
  	border-color: #646cff;
	color:#c3ad0b;
}
button:active,
button:focus {
	border-color:#c3ad0b;
}
button:before {
	content: "";
	display: inline-block;
	position: absolute;
	background-color: transparent;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: 0.2s;
	z-index: -1;
}
button:focus:before {
	box-shadow: 0px 0px 20px 0px #646cff;
}

.switch-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.slider-button {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 30px;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}
.slider-button input {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 20% / 50%;
	border: 2px solid black
}
.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 4px;
	top: 2px;
	background-color: #242424;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 100%;
	border: 1px solid #dedede;
}
input:checked + .slider {
  background-color: #c3ad0b;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: white;
  border-color: black;
}

#three-container {
	position: relative;
}
.three-div {
  	position: relative;
  	width: 900px;
  	height: 600px;
	transition: 0.5s;
	animation-duration: 3s;
	border: 0px solid transparent;
	background-color: transparent;
	border: 3px solid #000000;
  	background-color: #0c3578;
	opacity: 0%;
}
.three-div.loadAnimation {
	animation-duration: 2s;
	animation-name: loadFileThreeAnimaiton;
	animation-fill-mode: forwards;
}
@keyframes loadFileThreeAnimaiton {
	from {
		opacity: 0%;
	}
	to {
		opacity: 1;
	}
}
@media only screen and (max-width: 950px) {
	.three-div {
		width: 500px;
		height: 300px;
	}
}
@media only screen and (max-width: 550px) {
	.three-div {
		width: 300px;
		height: 300px;
	}
}

.drop-zone {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 3px solid #706c61;
	background-color: #0b6e4f;
}
.drop-zone > * {
	padding: 5px;
}
.drop-zone.loadAnimation {
	animation-duration: 0.25s;
	animation-name: loadFileDropZoneAnimaiton;
	animation-fill-mode: forwards;
}
@keyframes loadFileDropZoneAnimaiton {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@media only screen and (max-width: 550px) {
	.drop-zone {
		flex-direction: column;
	}
}
